.view-more .view-more__content {
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
  }
  
  .view-more.view-more--expand .view-more__content {
    max-height: unset;
  }
  
  .view-more:not(.view-more--expand) .view-more__content::after {
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, #fff 51.08%, rgba(255, 255, 255, 0.00) 95.54%);
  }
  
  .view-more:not(.view-more--expand) .view-more-collapse {
    display: none;
  }
  
  .view-more.view-more--expand .view-more-expand {
    display: none;
  }
  
  .view-more .view-more__actions {
    text-align: center;
    width: 100%;
    margin-top: 24px;
  }
  
  .view-more .view-more__actions button {
    color: #2D68FE;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;  
  }

.accordion {
  border-bottom: solid 2px #bfbfbf; /* Borda inferior para separar os accordions */
  transition: 0.8s;
}

.accordion summary {
  color: #324054; /* Cor do título do Accordion fechado */
  font-size: 20px; /* Tamanho da fonte do título */
  font-style: normal; /* Estilo normal da fonte*/
  font-weight: 600; /*Peso da fonte do título*/
  cursor: pointer; /*Cursor indicativo de ação*/
  width: 100%; /* largura completa */
  display: flex; /*Usa flexbox para alinhamento*/
  padding: 32px 0; /* Espaçamento vertical no título */
  align-items: center; /* Alinha itens verticalmente ao centro */
  justify-content: space-between; /* Espaçamento entre itens*/
}


.accordion p {
  color: #324054; /* Cor do texto do conteúdo */
  font-size: 16x; /* Tamanho da fonte do conteúdo */
  font-style: normal; /* Estilo normal da fonte */
  font-weight: 400; /* Peso da fonte do conteúdo */
  margin: 0; /* Remove margens padrão */
  margin-bottom: 16px; /* Espaço abaixo de cada parágrafo */
}

.accordion p:last-child {
  margin-bottom: 0; /* remove margem do último parágrafo */
}

.accordion[open] {
  padding-bottom: 32px; /* Espaçamento adicional quando abaixo */
}


 .accordion[open] summary {
  padding-bottom: 16px; /* Ajuste no espaçamento do título */
  color: #2d68fe; /* Muda a cor do fundo para indicar  */
}

.accordion:nth-of-type(2)[open] summary{
  color: rgb(203, 16, 16);
}

.accordion:last-of-type[open] summary {
  color: #2dfe68;
}
